.about{
    &__contnent{
        padding-top: 200px;
        display: flex;
    }

    &__text{
        margin: 69px 0 0 139px;
        
        p{
            max-width: 636px; 
            line-height: 160%;
        }
    } 

    &__img{
        width: 526px;
        height: 542px;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__title{ margin-bottom: 45px; }
}

@media (max-width: 1326px){
    .about{
        &__contnent{ padding-top: 100px;}

        &__text{ margin: 69px 0 0 70px; }

        &__title{ line-height: 100%; }
    }
}

@media (max-width: 991.98px){
    .about{
        &__contnent{ padding-top: 0;}

        &__text{ margin: 120px 0 0 70px; }

        &__title{ margin-bottom: 20px;}
    }
}

@media (max-width: 767.98px){
    .about{
        &__contnent{
            flex-direction: column;
            padding-top: 46px;
        }

        &__text{
            text-align: center; 
            margin: 46px 0 0 0;
            
            p{
                text-align: center;
                margin: 0 auto;
            }
        }

        &__img{ 
            max-width: 100%;
            height: auto;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__img{align-self: center;}
    }
}