.education{
    &__title{
        max-width: 490px;
        margin: 0 auto 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .title__img{
            margin: 0 0 40px 0;
        }
    }

    span{
        display: block;
        max-width: 400px;
        @include adaptiv-font(18, 14);
        margin: 0 auto 80px;
        text-align: center;
        line-height: 160%;
        opacity: 0.5;
    }

    &__content{padding-top: 200px;}
}

.timeline{
    min-height: 677px;

    &__date{
        opacity: 0.5;
        margin-bottom: 15px;
        line-height: 160%;
    }

    &__item{ p{line-height: 160%;} }
}
@media (max-width: 991.98px){
    .education{
        &__content{ padding: 100px 0 0 0; }

        span{ margin: 0 auto 50px; }

        &__title{ margin: 0 auto 15px;}

        .title__img{ margin: 0 0 10px 0; }
    }
}

@media (max-width: 768.98px){
    .education{
        &__content{ padding: 40px 0 0 0; }

        span{ margin: 0 auto 40px; }

        &__title{ margin: 0 auto 10px;}

        .title__img{ margin: 0; }
    }
}

@media (min-width: 636.98px){
    .timeline{
        position: relative;
        max-width: 600px;
        margin: 0 auto;
        
        &::before{
            content: "";
            position: absolute;
            width: 6px;
            height: 100%;
            top: -10px;
            left: calc(50% - 3px);
            background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
        }

        &__item{
            max-width: 228px;
            min-height: 94px;
            position: relative;

            &::after{
                content: "";
                width: 40px;
                height: 1px;
                background-color: #fff;
                opacity: 0.3;
                position: absolute;
                top: 50%;
            }

            &:nth-child(odd){
                float: left;
                clear: right;
                text-align: right;

                &::after{  right: -69px; }
            }

            &:nth-child(even){
                float: right;
                clear: left;

                &::after{ left: -69px; }
            }
        }
    }
}


@media (max-width: 636.98px){
    .timeline{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;

        &__item{
            min-height: 100px;
            border-radius: 10px;
            background: linear-gradient(94.26deg, #8460ae 9.51%, #4e3dbb 90.23%);
            margin-bottom: 30px;
            display: flex;
            padding: 20px;
            justify-content: center;
            flex-direction: column;

            p{opacity: 1;}
        }

        &__date{ 
            margin-bottom: 5px;
            font-weight: 900;
            opacity: 1;
        }
    }
}