.job{
    &__title{ 
        text-align: center;
        margin-bottom: 120px;
    }

    &__row{
        display: flex;
        align-items: center;
    }

    &__content{ padding-top: 200px; }
}

.job-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 33.333%;
    margin-right: 82px;
    &:last-child{ margin-right: 0; }

    &__img{
        margin-bottom: 60px;
        width: 100px;
        height: 100px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title{
        text-align: center;
        margin-bottom: 30px;
        font-weight: 500;
        @include adaptiv-font(24, 16);
        line-height: 140%;
    }

    p{
        text-align: center;
        line-height: 160%;
        opacity: 0.8;
    }
}

@media (max-width: 1330px){
    .job-item{ margin-right: 52px; }
}

@media(max-width: 991.98px){
    .job{
        &__content{ padding-top: 100px; }

        &__row{ 
            justify-content: space-around;
            flex-wrap: wrap;
        }

        &__title{
            max-width: 550px; 
            margin: 0 auto 60px; 
        }
    }
    
    .job-item{ 
        flex:  0 0 50%;
        margin-right: 0px;
        margin-bottom: 50px; 
        &:last-child{ margin-bottom: 0; }
                
        &__img{ 
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            
            img{
                width: 70%;
                height: 70%;
            }
        }

        &__title{ margin-bottom: 20px;}

        p{ max-width: 300px; }
    }
}

@media (max-width: 767.98px){
    .job{        
        &__row{ 
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__content{ padding-top: 60px; }

        &__title{ margin: 0 auto 25px; }
    }

    .job-item__img img{
        width: 85%;
        height: 85%;
    }
}